*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
.sidebar{
  position: fixed;
  width: 275px;
  height: 100%;
  left: 0;
  background: #353535;
}
.content{
  margin-left: 275px;
  padding: 15px;
  height: 100%;
}
.sidebar__logo{
  padding-left: 25px;
}
.sidebar__logo_text{
  display: flex;
  align-items: center;
}
.sidebar__helper{
  color: #FFF;
  letter-spacing: 1px;
  margin: 10% 7% 7% -2%;
  font-size: 25px;
  font-weight: 750;
}
.sidebar__ThirdDim{
  margin: 5%;
  font-size: 40px;
  font-weight: 800;
  color: #FFF;
  letter-spacing: 1px;
  margin: 10% 7% 7% -2%;
}
.logo{
  background: #424242;
  display: flex;
} 
.sidebar__elements{
  background: #353535;
  height: 100%;
  width: 100%;
  list-style: none;
}
.sidebar__text_element, .sidebar__droplist{
  line-height: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
.sidebar__text_element{
  color: #fff;
  padding-left: 25px;
  font-size: 25px;
  font-weight: 700;
}
.sidebar__head:hover{
  color: aqua;
  background: #484848;
  border-left-color: aqua;

}
.maxShow, .blenderShow, .programsShow, .TechShow{
  position: static;
  display: none;
}
.sidebar__subelement{
  line-height: 42px;
  border-bottom: none;
}
.sidebar__link{
  font-size: 16px;
  font-weight: 550;
  padding-left: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.arrowFirst, .arrowSecond, .arrowThird, .arrowFourth{
  transition: transform 0.4s;
}
.sidebar__droplist:hover .arrowFirst{
  transform: rotate(-180deg);
  fill: aqua;
}
.sidebar__droplist:hover .arrowSecond{
  transform: rotate(-180deg);
  fill: aqua;
}
.sidebar__droplist:hover .arrowThird{
  transform: rotate(-180deg);
  fill: aqua;
}
.sidebar__droplist:hover .arrowFourth{
  transform: rotate(-180deg);
  fill: aqua;
}
.arrowFirst, .arrowSecond, .arrowThird, .arrowFourth{
  fill:#fff;
}
.sidebar__droplist:hover .maxShow{
  display: block;
}
.sidebar__droplist:hover .blenderShow{
  display: block;
}
.sidebar__droplist:hover .programsShow{
  display: block;
}
.sidebar__droplist:hover .TechShow{
  display: block;
}
.sidebar__title_element{
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  width: 100%;
  padding-left: 25px;
  border-left: 3px solid transparent;
}
.sidebar__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.sidebar__subelement{
  list-style-type: none;
}





.content__image{
  box-shadow: 15px 15px 10px grey;
}
.lorem{
  letter-spacing: 5px;
}
.low{
  text-transform:uppercase;
}
.under{
  text-decoration: underline double green;
}
.through{
  text-decoration:line-through wavy red;
}
.over{
  text-decoration: overline dotted blue;
}